body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto',sans-serif;
    text-align: justify; /* the backup font here is the sans-serif*/;

  }
  
  a {
    text-decoration: none;
    color:blue
  }
  a:hover,a:focus{
    color:#0ea5e9;    /* this is used to change the color of the links when we are going to click on that link*/
  }
  
  #navbar {
    padding: 8px;
    margin: 0;
  }
  
  #banner {
    object-fit: cover;
  }
  
  
  h1 {
      text-align: center;
  }
  
  #banner {
     width: 100%; 
  }
  
  #about {
    display: flex;
    max-width: 800px;
    margin: 0 auto;
    padding: 8px;
  }
  
  #description {
    width: 50%;
    padding-right: 8px;
    text-transform: capitalize; /* this makes description alone capitalize (means that the each word has caps in first letter)*/
    line-height: 1.5;   /* this give the line height between the sentences*/
    font-size: 1.01rem;
  }
  
  #team {
    width: 50%;
  }
  
  #team-image {
    border-radius: 5px;
    width: 100%;
    border:4px solid fuchsia;
    border-style: dotted;
  }
  
  .location {
    color: gray;  
    margin-bottom: 16px;
  }
  
  h2 {
    text-align: center;
  }
  
  #jobs {
    max-width: 800px;
    margin: 0 auto;
    padding: 0 8px;
  }
  
  h3 {
    margin-bottom: 4px;
    margin-top: 0;
  }
  
  .apply {
    float: right;
  }
  
  #footer {
    color: #a3a3a3;
    padding: 8px;
    margin-top: 32px;
    text-align: center;
  }
  
  #footer-links {
    list-style: none;  
  }
  
  #footer-links li {
    display: inline;
    margin: 0 16px;
  }
  
  .copyright {
    color: gray;
  }
#jobs-table{
    border:1px solid gray;
    border-collapse:collapse;
    margin-left: auto;
    margin-right: auto;
    max-width: 1px;
}
.jobs-header-row th{
    border:1px solid black;
    padding : 16px;
    background-color:aliceblue;
    text-align:center;
    font-weight:10px ;
    background-color:#a5f3fc;
}


.jobs-data-row td{
    padding:16px;
    border:1px solid black
}
#jobs-table tr:nth-child(odd){
  background-color:#fee2e2;
}


/* we can use colspan and rowspan for the 
header to divide into 2 section*/

h1,h2{
  font-family: 'Merriweather',sans-serif;
  text-decoration:none; /* here there is an function called line-through where we can provide the data which dashed on the text*/
} 
html{
  background-color:whitesmoke;
  color:rgba(20,20,20,1) /* here the A reperesents the opacity of the text below the background 1 is max we can keep that shows full opacity*/
}

#footer a{
  color:#2d2c29;
}
#application{
  max-width: 800px;
  margin:0 auto;
  padding:0 8px;
}

#application-form label{
  font-family:"Merriweather",sans-serif;

}

#application-form input,select,textarea{
  padding: 8px;
  font-family:"Merriweather",sans-serif;
  font-size: 1.25rem;
  border-radius: 18px;
  border-color: #0a0a0a;
  
}

.formgrp{
  margin-top: 20px;

}
.formgrp #name{
  font-family:"Roboto";
}
.formgrp #emailid{
  font-family: "Roboto";
}
.formgrp #phonenumber{
  font-family: "Roboto";
}
te

#position{
  font-size: 19px;
}
.formgrp textarea{
  width:70%;
  font-family: "Roboto",sans-serif;
}
.formgrp input[type="checkbox"] {
  width: 16px;
  height: 16px;

}

.formgrp input[type="submit"]{
  background-color:#0891b2;
  
  cursor:cell;
}

.tablee #jobs-table{
  width: 100%;
}
p{
  text-decoration:none;
}